%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: #fff;
        border: 2px solid #ffbc00;
        font-size: 1rem;
        font-weight: bold;
    }

    &-light {
        @extend %btn-shared;
        color: #333;
        background-color: $LIGHT-COLOR;
    }

    &-dark {
        @extend %btn-shared;
        color: #f4f4f4;
        background-color: $DARK-COLOR;
    }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $MAIN-COLOR;
}
