#header {
    &-home {
        background: $BG-IMG no-repeat center right / cover;
        height: 100vh;
        color: #fff;

        .header-content {
            padding-top: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }
    &-inner {
        background: $BG-IMG no-repeat center right / cover;
        height: 5.5rem;
        border-bottom: 3px solid $MAIN-COLOR;
    }
}

#logo {
    width: 294px;
    height: 52px;
    color: #fff;
    text-transform: uppercase;
}

#header-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.5);
    z-index: 1;
}

.photo-container {
    position: relative;
    z-index: 2;
}
