$WIDTH: 1280px;
$MAIN-COLOR: #ffbc00;
$LIGHT-COLOR: #f4f4f4;
$MEDIUM-COLOR: #ccc;
$DARK-COLOR: #333;
$BG-IMG: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 60) {
        @return #000;
    } @else {
        @return #fff;
    }
}
