@import 'variables';
@import 'utils/utils';
@import 'components/components';

.bottom-line {
    height: 4px;
    width: 6rem;
    background: $MAIN-COLOR;
    display: block;
    margin: 0 auto 1rem auto;
    border-radius: 50px;
}

.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

#main-footer {
    background: $DARK-COLOR;
    color: #fff;
    height: 5rem;

    a {
        background: $DARK-COLOR;
        color: #fff;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .social .fab {
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            text-align: center;
            padding: 0.5rem;
            font-size: 1rem;

            &:hover {
                background: $MAIN-COLOR;
            }
        }
    }
}
